html,
body {
    width: 100%;
    height: 100%;
    color: rgb(173, 84, 84);
    position: fixed;
    background-color: rgb(246, 211, 169);
    

}

ul {
    list-style: none !important;
    border: none;
}

li {
    padding-left: 10px;
    border-bottom: 6px solid #eee;
    border-left: 6px solid white;
}

.pl-3 {
    padding-left: 20px;
}

/*h6{
    width: 250px;
    padding: 10px;
    border-bottom: 3px solid rgb(1, 176, 251);
}*/

.cbtn {
    background-color: rgb(219, 217, 217);
    width: 150px;
}

.spinner-border{
    display: none;
    position: absolute;
    left:50%;
    top:50%;
    z-index: 200;
}
:root {
    --black-color: #17181c;
    --blue-color: #3e50b4;
    --white-rbg-color: 255, 255, 255;
    --green-rbg-color: 0, 212, 113;
 }

.cursor {
   width: 20px;
   height: 20px;
   border: 10px solid rgba(var(--white-rbg-color), .8);
   border-radius: 50%;
   position: absolute;
   transition-duration: 200ms;
   transition-timing-function: ease-out;
   animation: cursor-animate 550ms infinite alternate;
}

.cursor::after {
   content: "";
   width: 40px;
   height: 40px;
   border: 15px solid rgba(var(--white-rbg-color), .2);
   border-radius: 50%;
   position: absolute;
   top: -25px;
   left: -25px;
   animation: cursor-animate-2 550ms infinite alternate;
}

/*Elemento*/
.header__title {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 300;
   color: rgb(var(--green-rbg-color));
}

.bg__canvas {
   width: 100%;
   height: 100vh;
   background-color: var(--blue-color);
   box-sizing: border-box;
}




/*Modificador*/
.cursor--expand {
   animation: cursor-animate-3 550ms forwards;
   border: 10px solid rgb(var(--green-rbg-color));
}

.cursor--expand::after {
   border: 15px solid rgba(var(--green-rbg-color), .3);
}

/*Keyframes*/
@keyframes cursor-animate {
   from {
      transform: scale(1);
   }

   to {
      transform: scale(1.5)
   }
}

@keyframes cursor-animate-2 {
   from {
      transform: scale(1);
   }

   to {
      transform: scale(.3);
   }
}

@keyframes cursor-animate-3 {
   0% {
      transform: scale(1);
   }

   50% {
      transform: scale(3);
   }

   100% {
      transform: scale(1);
      opacity: 0;
   }
}


/*
.mundo{
    background: url(https://lh4.googleusercontent.com/-fODt2VWyGek/UM5KhnIfjwI/AAAAAAAAIP4/pp8HVcv6SZY/s727/mapa%2520del%2520mundo%2520-%2520REDEANDO.png) repeat-x 0 0;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    position: relative;
    border:1px solid #295fad;
    animation: turn 25s infinite linear;
    -webkit-animation: turn 25s infinite linear;
    box-shadow: 0px 15px 60px rgba(255,255,255,0.5) inset,1em 0px 0px rgba(255,255,255,0.1) inset;
    }
    
    @keyframes turn {
    0% { background-position: 0 0}
    50% { background-position: -365px 0;box-shadow: 0px 15px 20px rgba(255,255,255,0.5) inset,25em 0px 80px rgba(0,0,0,0.8) inset;}
    100% { background-position: -727px 0}
    }
    @-webkit-keyframes turn {
    
    0% { background-position: 0 0}
    50% { background-position: -365px 0;box-shadow: 0px 15px 20px rgba(255,255,255,0.5) inset,25em 0px 80px rgba(0,0,0,0.8) inset;}
    100% { background-position: -727px 0}
    }

  */
  
    
    