<div>
    <h1 class="text-center">{{titulo}}</h1>
    <h1 class="text-center">{{mensaje}}</h1>
    <table class="table table-stripped table-bordered">
        <tr>
            <th class="text-center">PRODUCTO</th>
            <th class="text-center">PRECIO/UNIDAD</th>
            <th class="text-center">CANTIDAD</th>
            <th class="text-center">PRECIO POR CANTIDAD</th>
            <th class="text-center">ESTADO</th>
            <th class="text-center">FECHA</th>
            <th class="text-center">ACCIONES</th>
        </tr>
        <tr *ngFor="let soldProductBean of cestas; let i=index">
            <td class="text-center">{{soldProductBean.description}}</td>
            <td class="text-center">{{numberFormat(soldProductBean.priceUnitario)}}</td>
            <td class="text-center">{{soldProductBean.quantity}}</td>
            <td class="text-center">{{numberFormat(soldProductBean.priceTotal)}}</td>
            <td class="text-center">{{soldProductBean.estado}}</td>
            <td class="text-center">{{soldProductBean.fecha}}</td>
            <td class="text-center">
                <div *ngIf="!soldProductBean.basket">
                <a (click)="modificar(soldProductBean)" data-bs-toggle="modal" data-bs-target="#myModal">
                    <i class="bi bi-pencil-fill"></i></a>
                <a (click)="eliminar(soldProductBean.id)">
                    <i class="bi bi-trash3-fill"></i></a>
                <a (click)="comprar(soldProductBean)">
                    <i class="bi bi-credit-card-fill"></i></a>
                </div>
            </td>
        </tr>
    </table>
    <app-modal-sold-product (eventoAComunicar)="realizarComunicacion($event)" id="{{id}}" etiqueta =""></app-modal-sold-product>
</div>