<!--<div class="container mb-3" *ngIf="getSessionStorage()?.getItem('rol')==='ROLE_ADMIN'">-->
<div class="container mb-3">
    <div class="text-center bg-light p-3 rounded">
        <div class="row justify-content-center mb-3">
            <h1 class="text-center">Panel de Administración</h1>
        </div>
        <div class="container text-center">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="p-3 border rounded">
                        <a class="nav-link active d-flex align-items-center" routerLink="/roles">
                            <i class="bi bi-person-badge me-2"></i> Roles
                        </a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="p-3 border rounded">
                        <a class="nav-link active d-flex align-items-center" routerLink="/usuarios">
                            <i class="bi bi-person me-2"></i> Usuarios
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="p-3 border rounded">
                        <a class="nav-link active d-flex align-items-center" routerLink="/categorias">
                            <i class="bi bi-grid me-2"></i> Categorias
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 border rounded">
                        <a class="nav-link active d-flex align-items-center" routerLink="/subcategorias">
                            <i class="bi bi-list-task me-2"></i> Subcategorias
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3 border rounded">
                        <a class="nav-link active d-flex align-items-center" routerLink="/productosexistentes">
                            <i class="bi bi-box me-2"></i> Productos Existentes
                        </a>
                    </div>
                </div>

                <!--<div class="col-md-4">
                    <div class="p-3 border rounded">
                        <a class="nav-link active d-flex align-items-center" routerLink="productosvendidos">
                            <i class="bi bi-cart-check me-2"></i> Productos vendidos
                        </a>
                    </div>
                </div>-->

                <div class="col-md-4">
                    <div class="p-3 border rounded">
                        <a class="nav-link active d-flex align-items-center" routerLink="/profile">
                            <i class="bi bi-person-lines-fill me-2"></i> Perfiles
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="p-3 border rounded">
                        <a class="nav-link active d-flex align-items-center" routerLink="/tipoTarjetas">
                            <i class="bi bi-credit-card-2-front me-2"></i> Tipos de medio de pago
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="p-3 border rounded">
                        <a class="nav-link active d-flex align-items-center" routerLink="/tipoDocumentos">
                            <i class="bi bi-file-earmark me-2"></i> Documentos
                        </a>
                    </div>
                </div>

                <div class="col-12">
                    <div class="p-3 border rounded">
                        <a class="nav-link active d-flex align-items-center" routerLink="/conf">
                            <i class="bi bi-gear me-2"></i> Configuración
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
