<div class="container-fluid fixed-bottom">
    <div class="row p-3 pb-1 bg-dark text-white">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h3"> <strong><em>ALLA PUTTANESCA</em></strong></p>
            <p >Madrid, Lavapies</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h6 mb-2">PRODUCTOS</p>

            <div class="mb-1">
                <a class="text-secondary text-decoration-none" href="https://pastaio.com">Pastas</a>
            </div>
            <div class="mb-1">
                <a class="text-secondary text-decoration-none" href="https://quesoss.com/italianos/">Quesos</a>
            </div>
            <div class="mb-1">
                <a class="text-secondary text-decoration-none"
                    href="https://www.laumont.es/products/trufa-blanca-tuber-magnatum">Trufas</a>
            </div>
            <div class="mb-1">
                <a class="text-secondary text-decoration-none"
                    href="https://www.vilaviniteca.es/content/vega_sicilia">Vinos</a>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h6 mb-2">Links</p>
            <div class="mb-1">
                <a class="text-secondary text-decoration-none" href="#">Terminos y Condiciones</a>
            </div>
            <div class="mb-1">
                <a class="text-secondary text-decoration-none" href="#">Politica de Privacidad</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h6 mb-2">Contacto</p>
            <div class="mb-1">
                <a class="text-secondary text-decoration-none" href="https://www.Instagram.com">Instagram</a>
            </div>
            <div class="mb-1">
                <a class="text-secondary text-decoration-none" href="https://www.Facebook.com">Facebook</a>
            </div>
        </div>
        <div class="col-xs-12 pt-3">
            <p class="text-white text-center">Copyright © <em>Portalento-Digital</em> 2023</p>
        </div>

    </div>
</div>