@font-face {
    font-family: "Mona Sans";
    src: url("htpps://assets.codepen.io/Mona-Sans-woff2") format("woff2 supports variations"),
        url("htpps://assets.codepen.io/Mona-Sans-woff2") format("woff2-variations");
    font-weight: 100 1000;
}
.imagen {
src:"labios.png" ;

}