<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



<footer class="footer">
    <footer class="footer fondo-secundario">
        <div class="container mt-5">
            <div class="footer-content">
                <div class="footer-column mt-5">
                    <!-- <h2 class="text-white">Contacto</h2> -->
                    <h3 class="text-white">BANKINSERT</h3>
                    <p class="text-white">Teléfono: 911106106</p>
                    <p class="text-white">Email: info@bankinsert.com</p>
                    <p class="text-white">Dirección: Calle de Fray Luis de León,11</p>
                    <p class="text-white">28012 Madrid</p>

                </div>

                <div class="col-md-4">


                    <div class="btn-group d-flex flex-column align-items-center mt-3">

                        <a href="https://www.once.es" target="_blank" class="mb-3">
                            <img src="https://www.once.es/logo.png" alt="Logo de  Once" class="img-fluid"
                                style="max-width: 110px;">
                        </a>
                        <a href="https://www.fundaciononce.es/es" target="_blank" class="mb-3">
                            <img src="https://portalentodigital.fundaciononce.es/sites/default/files/pictures/logo-gso2021.png"
                                alt="Logo de Fundación Once" class="img-fluid" style="max-width: 110px;">
                        </a>

                        <a href="https://www.fundaciononce.es" target="_blank" class="mb-3">
                            <img src="https://www.fundaciononce.es/themes/d8_base_dev_theme-8.x-1.0/logo.svg"
                                alt="Logo de Fundación Once" class="img-fluid" style="max-width: 110px;">
                        </a>
                        <div class="btn-group d-flex flex-column align-items-center mt-3">
                        <a href="https://portalentodigital.fundaciononce.es/" target="_blank" class="mb-3">
                            <img src="https://portalentodigital.fundaciononce.es/sites/all/themes/foncecaptacion/logo.png"
                                alt="Logo de Por Talento Digital" class="img-fluid" style="max-width: 110px;">
                        </a>
                        <a href="https://www.ilunion.com/es" target="_blank" class="mb-3">
                            <img src="https://www.ilunion.com/themes/custom/iluniontheme/logo.svg" alt="Logo de Ilunión"
                                class="img-fluid" style="max-width: 110px;">
                        </a>
                        <a href="https://www.arelance.com/nosotros/about" target="_blank" class="mb-3">
                            <img src="https://www.arelance.com/assets/img/arelance/logoArelance.png"
                                alt="Logo de Arelance" class="img-fluid" style="max-width: 110px;">
                        </a>
                    </div>
                    </div>
                </div>
                <div class="footer-column ml-auto mt-5">
                    <!-- <h2 class="text-white">Redes sociales</h2> -->
                    <div class="btn-group">
                        <a href="https://www.facebook.com/" target="_blank" class="btn btn-primary">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.twitter.com/" target="_blank" class="btn btn-info">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank" class="btn btn-primary">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="btn btn-danger">
                            <i class="fab fa-instagram"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-bottom">
        <p>&copy; 2023 Bankinsert. Todos los derechos reservados.</p>
    </div>

</footer>