<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="green-background">
    <footer class="footer">
        <footer class="footer bg-success">
            <div class="container mt-5">
                <div class="footer-content">
                    <div class="footer-column">
                        <h2>Contacto</h2>
                        <h3>BANCKINSERT</h3>
                        <p>Teléfono: 911106106</p>
                        <p>Email: info@bankinsert.com</p>
                        <p>Dirección: Calle de Fray Luis de León,11, 28012 Madrid</p>
                    </div>
                    

                    <div class="footer-column">
                        <h3>Redes sociales</h3>
                        <div class="btn-group">

                            <a href="https://www.facebook.com/" target="_blank" class="btn btn-primary">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://www.twitter.com/" target="_blank" class="btn btn-info">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank" class="btn btn-primary">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" class="btn btn-danger">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>



                </div>
                <div class="footer-bottom">
                    <p>&copy; 2023 Bankinsert. Todos los derechos reservados.</p>
                </div>
            </div>
        </footer>