
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<body class="green-background">
    <footer class="footer">
        <div class="container ">
            <div class="footer-content">
                <div class="footer-column">
                    <h2>Contacto</h2>
                    <h3>BANCKINSERT</h3>
                    <p>Teléfono: 911106106</p>
                    <p>Email: info@bankinsert.com</p>
                    <p>Dirección: Calle de Fray Luis de León,11, 28012 Madrid</p>
                </div>
                <div class="footer-column">
                    <h3>Enlaces rápidos</h3>
                    <ul>
                        <h6>
                            <li><a class="texto-primario" href="#">Inicio</a></li>
                            <li><a class="texto-primario" href="#">Detalles</a></li>
                            <li><a class="texto-primario" href="#">Movimientos</a></li>
                            <li><a class="texto-primario" href="#">Operaciones</a></li>
                            <li><a class="texto-primario" href="#">Mis Productos</a></li>
                            <li><a class="texto-primario" href="#">Mis Cuentas</a></li>
                            <li><a class="texto-primario" href="#">Aviso legal</a></li>
                            <li><a class="texto-primario" href="#">Cookies</a></li>
                        </h6>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Redes sociales</h3>
                    


                    <a style="color: #3b5998; margin-right: 20px;" href="https://www.facebook.com/" role="button"><i
                            class="fab fa-facebook-f fa-lg"></i></a>


                    <a style="color: #55acee; margin-right: 20px;" href="https://www.twitter.com/" role="button"><i
                            class="fab fa-twitter fa-lg"></i></a>


                    <a style="color: #0077B5; margin-right: 20px;" href="https://www.linkedin.com/home" role="button"><i
                            class="fab fa-linkedin-in fa-lg"></i></a>


                    <a style="color: #ac2bac;" href="https://www.instagram.com/" role="button"><i
                            class="fab fa-instagram fa-lg"></i></a>

                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2023 Bankinsert. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
</body>
