@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');

.logo{
    width: 100px;
    min-width: 70px;
    padding: 9px;
    margin-left: 10px;
}
.logoinv{
    width: 100px;
    opacity: 0;
    min-width: 80px;
    padding: 5px;
}

body{
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(187, 231, 198));
    overflow-x: hidden;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200vh;
}
nav{
top: 20px;
}
.titulo {
    font-family: fantasy;    
    color: white;
    text-shadow: 2px 2px 4px #000000;
    white-space: nowrap;
    /*font-size: 84px;   
    left: 0;
    margin-bottom: 0;
    margin-top: 0px;
    margin-right: 0px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;*/
}
.subtitulo {
    font-family: "Kolker Brush", Arial, sans-serif;
    font-style: italic;
    color: white;
    text-shadow: 2px 1px 2px #000000;
    padding: 0px;
}
.presubtitulo {
    font-family: Times, 'Times New Roman', serif;
    font-style: normal;
    color: white;
    text-shadow: 2px 1px 2px #000000;
    padding: 0px;
    font-size: 18px;
}

.saludos{
    position: inherit;
    margin-top: auto;  
    margin-right: auto;
}

.hola1,
.hola2,
.hola3,
.hola4,
.hola5,
.hola6,
.hola7,
.hola8,
.hola9 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 0px;
    border-spacing: 0px;
    position: absolute;
    opacity: 0;
    text-align: end;
    right: 30px;
    left: 0;
    top: 50px;
    /*font-size: 40px;
    
    margin-bottom: 0;    
    text-transform: uppercase;
    top: 0;*/
}

.hola1 {
    animation-name: desvanecer;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 0s;
}

.hola2 {
    animation-name: desvanecer;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 4s;
}

.hola3 {
    animation-name: desvanecer;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 8s;
}

.hola4 {
    animation-name: desvanecer;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 12s;
}

.hola5 {
    animation-name: desvanecer;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 16s;
}

.hola6 {
    animation-name: desvanecer;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 20s;
}

.hola7 {
    animation-name: desvanecer;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 24s;
}

.hola8 {
    animation-name: desvanecer;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 28s;
}

.hola9 {
    animation-name: desvanecer;
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 32s;
}

@keyframes desvanecer {
    0% {
        transform: translate3d(0, 40px, 0);
        opacity: 0;
    }

    4%,
    8% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    10% {
        transform: translate3d(0, -40px, 0);
        opacity: 0;
    }
}
.nav-item {
    background-color: white;
    color: black;
    border-color: rgb(248, 249, 250);
}
.nav-item:hover {
    background-color: rgb(25, 135, 84);
    color: white;
}
.opcionescontinentes {
    color: rgb(81, 81, 81);
}
.nav-link:active{
    background-color: rgb(25, 135, 84);
    color: white;
}
select.opcionescontinentescasilla option:checked {
    background-color: rgb(25, 135, 84);
    color: white;
}
/*  @media (min-width: 400px) {
    .titulo {
      font-size: 2rem;
    }
  }
  @media (min-width: 500px) {
    .titulo {
      font-size: 3rem;
    }
  }
  @media (min-width: 700px) {
    .titulo {
      font-size: 4rem;
    }
  }
  @media (min-width: 1100px) {
    .titulo {
      font-size: 6rem;
    }
  }*/
  
