@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

body{
    background: linear-gradient(135deg, rgb(58, 48, 48), rgb(39, 30, 30));
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.iconoprincipal{
    box-shadow: 0px 3px 6px #0c0000;
    margin-top: -3px;
    margin-left: -20px;
    border: none;
    user-select: none;
}
@keyframes respiracion {
    from {box-shadow: 0px 3px 6px #ff0000;}
    to {box-shadow: 0px 3px 16px #ff0000;}
  }
.iconoprincipal:hover{
    animation-name: respiracion;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.icononasa{
    box-shadow: 0px 3px 6px #0c0000;
    margin-top: -3px;
    user-select: none;
}
.icononasa:hover{
    animation-name: respiracion;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.guisiguente{
    box-shadow: 0px 3px 6px #0c0000;
    user-select: none;
}
.guisiguenteparpadeo{
    animation-name: respiracion;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.navbar{
    background: linear-gradient(90deg, rgba(180, 180, 180, 0), rgb(49, 49, 49));
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    white-space: nowrap;
    box-shadow: 5px 0px 5px #0c0000;
    margin: 20px;
}
.titulo {
    font-family: 'Saira Stencil One', cursive;   
    user-select: none; 
    color: white;
    text-shadow: 2px 2px 4px #000000;
    white-space: nowrap;
    padding: -20px;
    margin: -20px;
}
.botoncentral{
    border: 0px;
    padding: 20px;
}
@keyframes giro {
    from {transform: rotate(0deg);}
    to {transform: rotate(-500deg);}
  } 
.botoncentral:hover{
    animation-name: giro;
    animation-duration: 1.3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.textocabeceras{
    font-family: 'Allerta Stencil', sans-serif;
    user-select: none;    
    text-shadow: 2px 2px 4px #000000;
    white-space: nowrap;
    background: linear-gradient(90deg, rgba(180, 180, 180, 0), rgb(49, 49, 49));
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    white-space: nowrap;
    margin: 0px;
    box-shadow: 5px 0px 5px #0c0000;
}
.textoselects{
    font-family: 'Allerta Stencil', sans-serif;    
    text-shadow: 2px 2px 4px #000000;
    font-size: 22px;
    white-space: nowrap;
    background: none;
    color: whitesmoke;
    text-shadow: 2px 2px 4px #000000;
    white-space: nowrap;
    margin: 10px;
    border: 0px;
    padding: 10px;
}
.iconoselect{
    box-shadow: 0px 3px 6px #0c0000;
    margin-top: -3px;
}
.contenedorgris{
    background: linear-gradient(90deg, rgba(180, 180, 180, 0), rgb(49, 49, 49));    
    background: #ff0000;
}
.textodatos{
    font-family: 'Allerta Stencil', sans-serif;
    color: whitesmoke;
    text-shadow: 1px 1px 2px #350e0e;

    margin: 0px;
    padding: 15px;
}
.textorespuestas{
    font-family: monospace, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin: 0px;
    padding: 5px;
    font-size: xx-large;
}
@keyframes girito {
    from {transform: rotate(10deg);}
    to {transform: rotate(-170deg);}
  }  
@keyframes contragirito {
    from {transform: rotate(-180deg);}
    to {transform: rotate(0deg);}
  }
.celdagears{
    text-align: right;
    user-select: none;
}
.gear1{
    height: 40px; 
    width: 40px;
    user-select: none;
    filter: brightness(0);
    animation-name: girito;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
.gear2{
    height: 45px; 
    width: 45px;
    user-select: none;
    margin-left: -12px;
    filter: brightness(0);
    animation-name: contragirito;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
.SuperGears{
    padding: 0px;
    border-spacing: 0px;
    user-select: none;
    position: absolute;
    transform: rotate(0deg);
    right: 1800px;
    left: -360px;
    top: 100px;
    bottom: 0px;
    
}
.Supergear1{
    height: 400px; 
    width: 400px;
    filter: brightness(0);
    animation-name: girito;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
.Supergear2{
    height: 450px; 
    width: 450px;
    margin-left: -12px;
    filter: brightness(0);
    animation-name: contragirito;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
@media (max-width: 800px) {
    .SuperGears {
        visibility: hidden;
    }
}
.nav-link:hover{
    color: whitesmoke;
    text-shadow: 2px 2px 4px #a8a8a8;
    margin: 0px;
    padding: 7px;
}
.nav-link{
    color: whitesmoke;
    text-shadow: 1px 1px 2px #000000;
    margin: 0px;
    padding: 8px;
}
.nav-link:active{
    color: rgb(124, 0, 0);
    text-shadow: 2px 2px 4px #a8a8a8;
    margin: 0px;
    padding: 7px;
}
@keyframes desliz {
    0% {
        transform: translateX(2px);
    }

    40%,
    50% {
        transform: translateX(-3px);
    }

    60% {
        transform: translateX(1px);
    }}
.botonidiomas{      
    margin: 0px;
    padding: 6px;
    user-select: none;
}
.botonidiomas:hover{
    animation-name: respiracion;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.botonidiomas:active{
    text-shadow: 2px 2px 4px #a8a8a8;    
    animation-name: desliz;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in;
}
.tarjetabandera{    
    box-shadow: 0px 3px 6px #0c0000;
    width: 400px;
    max-height: 300px;
    background-color: white;
}
.cubod{
    border: 0px;
    padding: 10px;
    margin-bottom: 0px;
    user-select: none;
}
@keyframes giro {
    from {transform: rotate(0deg);}
    to {transform: rotate(-500deg);}
  } 
.cubod:hover{
    animation-name: giro;
    animation-duration: 1.3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
.megacol{
    height: 900px;
}
footer{
    position: absolute;
}