html,
body {
    width: 100%;
    height: 100%;
    color: black;
}

ul {
    list-style: none !important;
    border: none;
}

li {
    padding-left: 10px;
    border-bottom: 1px solid #eee;
}

.pl-3 {
    padding-left: 20px;
}

/*h6{
    width: 250px;
    padding: 10px;
    border-bottom: 3px solid rgb(1, 176, 251);
}*/

.cbtn {
    background-color: rgb(219, 217, 217);
    width: 150px;
}

#spinner {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 200;
}

#tabs {
    display: none;
}

#tabs-cont {
    display: none;
}

h4,h5{
    height: 30px !important;
    padding-bottom:5px;
    border:0;
}

h5::after{
  content: '';
  background-color: #1900ff;
  height: 3px;
  width: 200px;
  display: block;
  margin-top:5px;
}

/*animation: colors 9s infinite linear;


@keyframes colors {
    0%   { background-color: #33CCCC; }
    20%  { background-color: #33CC36; }
    40%  { background-color: #B8CC33; }
    60%  { background-color: #FCCA00; }
    80%  { background-color: #33CC36; }
    100% { background-color: #33CCCC; }
  }*/