<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">

            
        
            <div class="modal-header justify-content-center"> 
                <h4 class="modal-title ">{{subtitulo}} TIPO DE SUBCATEGORIA</h4>

            </div>

           

            <div class="modal-body text-center">
                <label for="descripcion">Subcategoria:<input type="text" name="descripcion"
                    [(ngModel)]="descripcion" value="{{subcategoryPlaceHolder}}"></label><br>
                    <label for="categoria">Categoria:</label>
                    <select [(ngModel)]="categoria" name="categoria">
                        <option value="0">Selecciona categoria...</option>
                        <option *ngFor="let cat of categorias" value="{{cat._links.self.href.substring(cat._links.self.href.lastIndexOf('/')+1)}}">
                            {{cat.description}}
                        </option>
                    </select>
                <button type="button" class="button" (click)="grabar()">GRABAR</button>
            </div>
            <div class="text-center">
                <h1 >{{mensaje}}</h1>
            </div>
           
           
            
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="realizarComunicacion()">Cerrar</button>
            </div>

        </div>
    </div>
</div>
