.lineaCuenta{
    background: white;
    transition: .5s;
}
.lineaCuenta:hover{
    background:rgb(222, 253, 232);
    transition: .5s;
}

.cajero{
    width: 150px;
    height: 150px;
}

 .bloqueCrearCuenta p{
    font-weight: 100;
    font-size: small;
    
 }
 .cuentaFlayer{
    background:rgb(222, 253, 232);
    clip-path: polygon(100% 0, 100% 100%, 87% 100%, 0 100%, 0 0, 14% 0);
    transition: .8s;
    opacity: 1;
    scale: 85%;
 }
 .cuentaFlayer:hover{   
    /* color: white; */
    scale: 105%;
    user-select: none;
    clip-path: polygon(100% 0, 100% 73%, 87% 100%, 0 100%, 0 26%, 14% 0);
    
 }
 .cuentaFlayer:not(:hover) h3{
    visibility: hidden;
    background: transparent;
    border: solid transparent 2px;
    color: transparent;
 }
 .cuentaFlayer h3{
    background: rgb(39, 160, 76);
    color: white;
    padding: 8px;
    margin-left: 80px;
    margin-right: 80px;
    cursor: pointer;
    transition: .5s;
    border: solid rgb(222, 253, 232) 2px;
 }
 .cuentaFlayer h3:hover{
    background: white;
    color: rgb(39, 160, 76);
    border: solid rgb(39, 160, 76) 2px;
    }
 
 