<div class="container">

    <div class="mb-4 p-5 border-bottom texto-secundario shadow">
        <h1>Bienvenido {{usuario}} a tu Área personal</h1>
        <p>Consulta tu saldo total o elige una cuenta para ver más detalles, operar o consultar movimientos</p>
    </div>
    <ng-container *ngIf="yaTieneCuentas()">
        <div class="my-4 border-bottom fondo-primario texto-resaltado shadow d-flex">
            <div class="mt-4 ms-5 flex-fill justify-content-end">
                <h2>Saldo total disponible:</h2>
                <h5 class="ms-5 pt-4">Atesoras en nuestras arcas un total de {{saldoTotal | currency:'EUR':''}}€</h5>
            </div>

            <img src="assets/boveda.png" class="w-25 float-end">
        </div>
        <div class="my-4 p-5 border-bottom shadow">
            <h2 class="texto-secundario mb-3">Tus cuentas:</h2>
            <div *ngFor="let cuenta of cuentas, let i = index" class="mt-4 border-bottom ms-5 lineaCuenta" role="button"
                (click)="elegirCuenta(cuenta.number, cuenta.id)" routerLink="/detalles">
                <div class="d-flex justify-content-between texto-resaltado p-2">
                    <h5>
                        <p><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book mx-2 mb-1"
                                width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path>
                                <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path>
                                <path d="M3 6l0 13"></path>
                                <path d="M12 6l0 13"></path>
                                <path d="M21 6l0 13"></path>
                            </svg>{{cuenta.number}}
                        </p>
                    </h5>
                    <div>
                        SALDO DE LA CUENTA:
                        {{saldo[i] | currency:'EUR':''}}€
                    </div>
                </div>
                <div class="d-flex justify-content-between texto-secundario mb-3">
                    <h6 class="ms-4">{{cuenta.typeAccount.description}}</h6>
                </div>
            </div>
        </div>
    </ng-container>

    <div class="my-4 p-5 fondo-primario texto-resaltado shadow">
        <h2 class="mb-5">Crea tu cuenta en segundos:</h2>
        <div class="p-5 d-flex me-5">
            <img src="assets/cajero.png" class="cajero float-start">
            <div class="mx-5 justify-content-end">
                <h2>Nuestros expertos financieros recomiendan:</h2>                
                <div class="bloqueCrearCuenta mt-4 pt-2">
                    <div *ngFor="let typesAccount of typesAccounts" class="shadow bg-white texto-secundario p-2 m-2">
                      <h2 class="text-center">{{typesAccount.description}}</h2>
                      <h4 class="mx-2 p-2">Disfruta de las ventajas del banco online con la {{typesAccount.description.toLowerCase()}} que se adapta a tí y los tuyos.</h4>
                      <p class="text-end ms-auto w-75 px-5">Consulta condiciones con tu gestor. No tenemos una columna con detalles que poner aquí y por eso todas son iguales. Work in progress!
                        
                      </p>
                      <button class="btn btn-success" (click)="crearCuenta(typesAccount._links.self.href.substring(typesAccount._links.self.href.lastIndexOf('/')+1))">Lo quiero!</button>
                    </div>
                </div>  
            </div>                      
        </div>
    </div>
</div>