.cabecera {
    /* background: rgb(39, 160, 76); */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: white; */
}

.logoCabecera .letrero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    user-select: none;
    /* cursor: none; */
}

.logoCabecera h4 {
    font-size: 1.8em;
    font-weight: 900;
    margin: auto;
    margin-left: -2px;
    margin-top: -5px;
    /* text-decoration: underline; */
}

.logoCabecera h1 {
    font-size: 3.0em;
    font-weight: 700;
    text-decoration: none;
}

.letraA, .letraN, .letraK, .letraI, .letraS, .letraR {
    opacity: 0;
    animation: aparecer ease 1.4s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.letraB, .letraN2, .letraE, .letraT {
    opacity: 0;
    animation: aparecer ease 1.2s;
    animation-delay: 2.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* LETRAS DEL LOGO*/
table{
    border-collapse: collapse;
}
.letrero td {
    position: relative;
    width: 23px;
    /* height: 50px; */
    text-align: center;
}

.letraB {
    display: block;
}
.letraB:hover {
    color: transparent;
}
.tdLetraB:hover .letraB {
    color: transparent;
    transition: color .3s forwards ease;
}
.tdLetraB:hover:before {
    content: "⠨⠃";
    display: block;
    position: absolute;
    margin-top: 17px;
    margin-left: 0px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .3s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
.tdLetraB:not(:hover):after {
    content: "⠨⠃";
    display: block;
    position: absolute;
    margin-top: -48.5px;
    margin-left: 0px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .3s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.tdLetraB:not(:hover) .letraB {
    color: currentColor;
    transition: color 1s 2s ease;
}


.letraA {
    display: block;    
}
.letraA:hover {
    color: transparent;
}
.tdLetraA:hover .letraA {
    color: transparent;
    transition: color .3s forwards ease;
}
.tdLetraA:hover:before {
    content: "⠨⠁";
    display: block;
    position: absolute;
    margin-top: -2px;
    margin-left: -8px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
.tdLetraA:not(:hover):after {
    content: "⠨⠁";
    display: block;
    position: absolute;
    margin-top: -31.5px;
    margin-left: -8px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .3s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.tdLetraA:not(:hover) .letraA {
    color: currentColor;
    transition: color 1s 2s ease;
}

.letraN {
    display: block;
}
.letraN:hover {
    color: transparent;
}
.tdLetraN:hover .letraN {
    color: transparent;
    transition: color .3s forwards ease;
}
.tdLetraN:hover:before {
    content: "⠨⠝";
    display: block;
    position: absolute;
    margin-top: -2px;
    margin-left: -10px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
.tdLetraN:not(:hover):after {
    content: "⠨⠝";
    display: block;
    position: absolute;
    margin-top: -31.5px;
    margin-left: -10px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .3s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.tdLetraN:not(:hover) .letraN {
    color: currentColor;
    transition: color 1s 2s ease;
}

.letraK {
    display: block;
}
.letraK:hover {
    color: transparent;
}
.tdLetraK:hover .letraK {
    color: transparent;
    transition: color .3s forwards ease;
}
.tdLetraK:hover:before {
    content: "⠨⠅";
    display: block;
    position: absolute;
    margin-top: -2px;
    margin-left: -8px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
.tdLetraK:not(:hover):after {
    content: "⠨⠅";
    display: block;
    position: absolute;
    margin-top: -31.5px;
    margin-left: -8px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .3s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.tdLetraK:not(:hover) .letraK {
    color: currentColor;
    transition: color 1s 2s ease;
}

.letraI {
    display: block;
}
.letraI:hover {
    color: transparent;
}
.tdLetraI:hover .letraI {
    color: transparent;
    transition: color .3s forwards ease;
}
.tdLetraI:hover:before {
    content: "⠨⠊";
    display: block;
    position: absolute;
    margin-top: 17px;
    margin-left: -10px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
.tdLetraI:not(:hover):after {
    content: "⠨⠊";
    display: block;
    position: absolute;
    margin-top: -48.5px;
    margin-left: -10px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .3s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.tdLetraI:not(:hover) .letraI {
    color: currentColor;
    transition: color 1s 2s ease;
}

.letraN2 {
    display: block;
}
.letraN2:hover {
    color: transparent;
}
.tdLetraN2:hover .letraN2 {
    color: transparent;
    transition: color .3s forwards ease;
}
.tdLetraN2:hover:before {
    content: "⠨⠝";
    display: block;
    position: absolute;
    margin-top: -2px;
    margin-left: -10px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
.tdLetraN2:not(:hover):after {
    content: "⠨⠝";
    display: block;
    position: absolute;
    margin-top: -31.5px;
    margin-left: -10px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .3s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.tdLetraN2:not(:hover) .letraN2 {
    color: currentColor;
    transition: color 1s 2s ease;
}

.letraS {
    display: block;
}
.letraS:hover {
    color: transparent;
}
.tdLetraS:hover .letraS {
    color: transparent;
    transition: color .3s forwards ease;
}
.tdLetraS:hover:before {
    content: "⠨⠎";
    display: block;
    position: absolute;
    margin-top: -2px;
    margin-left: -10px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
.tdLetraS:not(:hover):after {
    content: "⠨⠎";
    display: block;
    position: absolute;
    margin-top: -31.5px;
    margin-left: -10px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .3s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.tdLetraS:not(:hover) .letraS {
    color: currentColor;
    transition: color 1s 2s ease;
}

.letraE {
    display: block;
}
.letraE:hover {
    color: transparent;
}
.tdLetraE:hover .letraE {
    color: transparent;
    transition: color .3s forwards ease;
}
.tdLetraE:hover:before {
    content: "⠨⠑";
    display: block;
    position: absolute;
    margin-top: -2px;
    margin-left: -11px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
.tdLetraE:not(:hover):after {
    content: "⠨⠑";
    display: block;
    position: absolute;
    margin-top: -31.5px;
    margin-left: -11px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .3s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.tdLetraE:not(:hover) .letraE {
    color: currentColor;
    transition: color 1s 2s ease;
}

.letraR {
    display: block;
}
.letraR:hover {
    color: transparent;
}
.tdLetraR:hover .letraR {
    color: transparent;
    transition: color .3s forwards ease;
}
.tdLetraR:hover:before {
    content: "⠨⠗";
    display: block;
    position: absolute;
    margin-top: -2px;
    margin-left: -11px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
.tdLetraR:not(:hover):after {
    content: "⠨⠗";
    display: block;
    position: absolute;
    margin-top: -31.5px;
    margin-left: -11px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .3s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.tdLetraR:not(:hover) .letraR {
    color: currentColor;
    transition: color 1s 2s ease;
}

.letraT {
    display: block;
}
.letraT:hover {
    color: transparent;
}
.tdLetraT:hover .letraT {
    color: transparent;
    transition: color .3s forwards ease;
}
.tdLetraT:hover:before {
    content: "⠨⠞";
    display: block;
    position: absolute;
    margin-top: -2px;
    margin-left: -11px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .5s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
}
.tdLetraT:not(:hover):after {
    content: "⠨⠞";
    display: block;
    position: absolute;
    margin-top: -31.5px;
    margin-left: -11px;
    font-size: 1.4em;
    font-weight: 700;
    color: white;
    animation-name: aparecer;
    animation-duration: .3s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.tdLetraT:not(:hover) .letraT {
    color: currentColor;
    transition: color 1s 2s ease;
}

/* h4:not(:hover):after{
   display: block;
   content: '';
   width: 100%;
   height: 2px;
   background: white;
   position: absolute;
   left: 0;
   margin-top: -1px;
   opacity: 0;
   animation-name: aparecer;
   animation-duration: 1s;
   animation-delay: 2s;
   animation-direction: normal;
   animation-timing-function: ease-in-out;
   animation-fill-mode: forwards;
} */



/*-------------------------------*/

  
.tiempoCabecera {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: green; */
}

.tiempoCabecera button {
    font-size: 1.2em;
    font-weight: 600;
    /* background: white;
    color: green; */
    border: none;
    border-radius: 5px;
}

.tiempoCabecera .modal-content {
    margin-top: 100px;
    min-width: 500px;
    min-height: 500px;
    background: url('src/assets/clockFace.jpg') center;
    border-radius: 500px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.tiempoCabecera .modal {
    backdrop-filter: blur(10px);
    /* backdrop-filter: blur(20px) brightness(1.8); */
    overflow: hidden;
}

.fondoBtnLogin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btnLogin {
    width: 100px;
    height: 60px;
    background: transparent;
    /* background: green; */
    /* border: 2px solid rgb(15, 156, 39); */
    border: none;
    /* outline: none; */
    /* border-radius: 5px; */
    font-size: 1.1em;
    /* color: white; */
    font-weight: 500;
    transition: .5s;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnLogin:hover {
    background: white;
    color: green;
}

.fondoBtnLogin .pulsado {
    background: white;
    color: green;
}

.btnHazteCliente {
    width: 150px;
    height: 60px;
    background: transparent;
    /* background: rgb(39, 160, 76); */
    /* border: 2px solid rgb(15, 156, 39); */
    border: none;
    /* outline: none; */
    /* border-radius: 5px; */
    font-size: 1.1em;
    color: gold;
    font-weight: 500;
    transition: .5s;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnHazteCliente:hover {
    background: white;
    color: green;
}

.cajaLoginInfo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

.cajaLoginInfo .contenedorLogin {
    min-width: 400px;
}

.cajaLoginInfo .iconoCerrar {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    font-size: 2em;
    color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    opacity: .5;
    transition: .5s;
}

.cajaLoginInfo .iconoCerrar:hover {
    opacity: 1;
}

.contenedorLogin {
    position: relative;
    width: 400px;
    height: 440px;
    background: rgba(250, 255, 251, 0.1);
    /* background: whitesmoke; */
    /* border: 2px solid rgb(15, 156, 39, .2); */
    border-radius: 5px;
    backdrop-filter: blur(20px);
    /* box-shadow: 0 0 10px rgb(104, 104, 104); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* right: 100px;
    top: 100px; */
    overflow: hidden;
}


.contenedorLogin .formularioLogin {
    padding: 40px;
}

.formularioLogin h2 {
    font-size: 2em;
    color: green;
    text-align: center;
    font-weight: 500;
}

.inputCasilla {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(44, 44, 44);
    margin: 30px 0;
    border-radius: 5px;
}

.inputCasilla label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(44, 44, 44);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.inputCasilla input:focus~label,
.inputCasilla input:valid~label {
    top: 9px;
    opacity: .0;
    font-size: 0.7em;
    /* background-color: whitesmoke; */
    /* width: 180px; */
    left: 0px;
    padding-left: 5px;
}

.inputCasilla input {
    width: 100%;
    height: 100%;
    background: whitesmoke;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(44, 44, 44);
    font-weight: 600;
    padding: 10px 35px 0 5px;
    border-radius: 5px;

}

.inputCasilla .iconito {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    top: 5px;
}

.recordar {
    font-size: 0.8em;
    font-weight: 500;
    text-align: end;
}

.recordar a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

.recordar a:hover {
    text-decoration: underline;
}

.btnSubmit {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background: green;
    border: 2px solid rgb(15, 156, 39);
    outline: none;
    border-radius: 4px;
    font-size: 1.1em;
    color: whitesmoke;
    font-weight: 500;
    transition: .5s;
}

.btnSubmit:hover {
    background: whitesmoke;
    color: green;
}

.loginARegisto {
    font-size: 1em;
    margin-top: 20px;
    font-weight: 500;
}

.loginARegisto a {
    text-decoration: none;
    color: green;
    transition: .5s;
}

.loginARegisto a:hover {
    text-decoration: underline;
}

.infoLogin {
    width: 400px;
    height: 200px;
    background: rgb(39, 160, 76);
    margin: 20px 20px;
}

.infoLogin .contenido {
    margin: 20px 20px;
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
}

.contenido .sinBorde {
    border-radius: 0px;
}
.bloqueado{
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}
.oculto{
    display: none;
    opacity: 0;
}
.modalConectando {
    opacity: 1;
    background: rgba(255, 255, 255, 0.486);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    /* border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9); */
    overflow: hidden;
}
.contenedorModal{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);    
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
}