<ul class="nav nav-pills nav-justified bg-black">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="Usuario">Usuario</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Alta Usuario">Alta Usuario</a></li>
            <li><a class="dropdown-item" href="Baja Usuario">Baja Usuario</a></li>
            
        </ul>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="Categorias">Categorias</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Alta Categoria">Alta Categoria</a></li>
            <li><a class="dropdown-item" href="Baja Categoria">Baja Categoria</a></li>
            <li><a class="dropdown-item" href="Modificar Categoria">Modificar Categoria</a></li>
        </ul>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="Subcategorias">Subcategorias</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Alta Subcategoria">Alta Subcategoria</a></li>
            <li><a class="dropdown-item" href="Baja Subcategoria">Baja Subcategoria</a></li>
            <li><a class="dropdown-item" href="Modificar Subcategoria">Modificar Subcategoria</a></li>
        </ul>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="Productos">Productos</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Alta Producto">Alta Producto</a></li>
            <li><a class="dropdown-item" href="Baja Producto">Baja Producto</a></li>
            <li><a class="dropdown-item" href="Modificar Producto">Modificar Producto</a></li>
        </ul>
        <li class="nav-item">
            <a class="nav-link active" href="Proveedores">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="Fidelidad">Fidelidad</a>
          </li>
</ul>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" routerLink="">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/product">Productos</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/offer">OFERTA</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/productdata">Lista de productos</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/profile">Lista de perfiles</a></li>
        </ul>
        <div class="navbar-nav action-buttons ml-auto">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a routerLink="/login" class="btn p-2 btn-primary border-0">Mi cuenta</a></li>
            <li class="nav-item">&nbsp;</li>
            <li class="nav-item"><a routerLink="/register" class="btn p-2 btn-primary border-0">Registrate</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>