<ul class="nav nav-pills nav-justified">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="Usuario">Usuario</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Alta Usuario">Alta Usuario</a></li>
            <li><a class="dropdown-item" href="Baja Usuario">Baja Usuario</a></li>
            
        </ul>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="Categorias">Categorias</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Alta Categoria">Alta Categoria</a></li>
            <li><a class="dropdown-item" href="Baja Categoria">Baja Categoria</a></li>
            <li><a class="dropdown-item" href="Modificar Categoria">Modificar Categoria</a></li>
        </ul>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="Subcategorias">Subcategorias</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Alta Subcategoria">Alta Subcategoria</a></li>
            <li><a class="dropdown-item" href="Baja Subcategoria">Baja Subcategoria</a></li>
            <li><a class="dropdown-item" href="Modificar Subcategoria">Modificar Subcategoria</a></li>
        </ul>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="Productos">Productos</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="Alta Producto">Alta Producto</a></li>
            <li><a class="dropdown-item" href="Baja Producto">Baja Producto</a></li>
            <li><a class="dropdown-item" href="Modificar Producto">Modificar Producto</a></li>
        </ul>
        <li class="nav-item">
            <a class="nav-link active" href="Proveedores">Proveedores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="Fidelidad">Fidelidad</a>
          </li>























</ul>