<header class="bg-primary">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
              <h5 class="pt-1">TIENDA</h5>
          </a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item"><a class="nav-link" href="#">Inicio</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Productos</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">OFERTA</a></li>
              </ul>

              <div class="d-flex align-items-center justify-content-start">
                  <a class="login" href="#">Login</a>
                  <span id="login">
                      <form class="navbar-form navbar-left">
                          <div class="form-group">
                              <li><input type="email" class="form-control login-username" placeholder="Usuario"></li>
                              <li><input type="password" class="form-control login-password" placeholder="Contaseña"></li>
                          </div>
                          <button type="submit" class="btn btn-default btn-xs">Inicia sessión</button>
                      </form>
                  </span>
              </div>
          </div>
      </div>
  </nav>
</header>

<main>
  <article>
      <div style="height: 300px;">
      </div>
  </article>
</main>

<footer class="bg-primary text-center text-white fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p class="copyright" class="mt-2">&copy; 2023 Por Talento Digital Fundación ONCE.</p>
  </div>
</footer>
