<header class="bg-primary">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand mt-2 mt-lg-0" href="index.html">
        <h5 class="pt-1">TIENDA</h5>
      </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" routerLink="/home">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/products">Productos</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/offer">OFERTA</a></li>
        </ul>

        <div class="navbar-nav action-buttons ml-auto">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a routerLink="/login" class="btn p-2 btn-primary border-0">Mi cuenta</a></li>
            <li class="nav-item">&nbsp;</li>
            <li class="nav-item"><a routerLink="/register" class="btn p-2 btn-primary border-0">Registrate</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<main>
  <article>
    <div style="height: 100%;">

      <router-outlet></router-outlet>
    </div>
  </article>
</main>

<footer class="bg-primary text-center text-white fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p class="copyright" class="mt-2">&copy; 2023 Por Talento Digital Fundación ONCE.</p>
  </div>
</footer>
