<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header justify-content-center">
                <h4 class="modal-title">ALTA USUARIO</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body text-center">
                <label for="usuario">Usuario</label>
                <input type="text" name="usuario" [(ngModel)]="usuario" value="{{usuarioPlaceHolder}}"><br>
                <label for="rol">rol:</label>
                <select [(ngModel)]="rol">
                    <option value="0">Seleccione rol...</option>
                    <option *ngFor="let fun of roles" value="{{fun._links.self.href.substring(fun._links.self.href.lastIndexOf('/')+1)}}">{{fun.rol}}</option>
                </select>
                <button type="button" class="button" (click)="grabar()">GRABAR</button>
            </div>
            <div class="text-center">
                <h1>{{mensaje}}</h1>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="realizarComunicacion()">CERRAR</button>
            </div>

        </div>
    </div>
</div>