<div class="container">
  <table class="table">
    <tr>
      <th>NOMBRE</th>
      <td>{{ datos?.name?.common }}</td>
    </tr>

    <tr>
      <th>POBLACIÓN</th>
      <td>{{ datos?.population }}</td>
    </tr>

    <tr>
      <th>LONGITUD</th>
      <td>{{ datos?.latlng[1] }}</td>
    </tr>

    <tr>
      <th>LATITUD</th>
      <td>{{ datos?.latlng[0] }}</td>
    </tr>

    <tr>
      <th>CAPITAL</th>
      <td>{{ datos?.capital[0] }}</td>
    </tr>

    <tr>
    <tr *ngFor="let  moneda of monedas">
      <th>MONEDA</th>
      <td>{{ moneda.name }}</td>
    </tr>

    <tr>
    <tr *ngFor="let  moneda of monedas">
      <th>SÍMBOLO</th>
      <td>{{ moneda.symbol }}</td>
    </tr>
    
  </table>
</div>