<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="home">Inicio</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="login">
              <i class="bi bi-person"></i> Inicio sesión
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="signup">
              <i class="bi bi-person"></i> Registrarse
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="cesta">
              <i class="bi bi-basket"></i> Mi cesta
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

