<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
 <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark" ngIf="getSessionStorage()!=null && getSessionStorage()!=''">
-->
  <div class="container">
    <ul class="navbar-nav w-100 d-flex justify-content-between">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="usuarios">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="roles">Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="categorias">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="subcategorias">Subcategorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="product">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="conf">Configuración</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="tipoDocumentos">Documentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="tipoTarjetas">Medios de pago</a>
      </li>
    </ul>
  </div>
</nav>
