h1 {
    color: #ff0000;
  }
  h2{
    color: #fabada;
  }
  h3{
    color:#cacaca
  }

  #h11{
    color:aqua
  }

  .rojo{
    color: rgb(76, 62, 238);
    text-align: center;
    padding-bottom: 30px;
  }