<div class="container mt-3">
  <h2>Productos</h2>
  <p>xxxxxxxxxxx</p>
  <table class="table">
    <thead>
      <tr>
        <th>xxxx</th>
        <th>xxxx</th>
        <th>xxxx</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>xxxx</td>
        <td>xxxx</td>
        <td>xxx</td>
      </tr>
      <tr>
        <td>xxx</td>
        <td>xxxx</td>
        <td>xxxx</td>
      </tr>
      <tr>
        <td>xxxx</td>
        <td>xxxx</td>
        <td>xxxx</td>
      </tr>
    </tbody>
  </table>
</div>
