<div class="contenedor">
    <div class="texto">
        <div>
            <h1>Saca provecho a tu Banca Online <a href="#">Hazte cliente</a></h1>
        </div>
        <div>
            <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias fuga quod incidunt. Perferendis
                atque
                veniam
                nihil explicabo. Eligendi, nobis animi inventore dolores nulla, aliquid, facere dicta facilis deleniti
                corrupti
                quidem.</h3>
        </div>
    </div>
</div>