<div class="container mt-3">
    <h2>Lista de perfiles</h2>
    <button type="button" class="btn btn-primary d-md-block me-2 mt-2 mb-2 rounded-0" >Añadir nuevo usuario</button>
    <!--<input type="text" [(ngModel)]="searchText" (input)="filterData()" placeholder="Buscar por descripción" class="w-100">-->
    <table class="table table-hover">
      <thead>
        <tr>
          <!--<th (click)="sortData('id')">Nº</th>
          <th>Foto</th>
          <th (click)="sortData('description')">Descripción</th>
          <th (click)="sortData('price')">Importe</th>
          <th (click)="sortData('stock')">Existencia</th>
          <th (click)="sortData('subcategories_id')">SubCategoria</th>
          <th></th>
          <th></th>-->
          <th>Nº</th>
          <th>Foto</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Identificación</th>
          <th>Teléfono</th>
          <th>T. crédito</th>
          <th>Dirección</th>
          <th>Email</th>
          <th>Provincia</th>
          <th>Nº Usuario</th>
          <th>Nº T. Crédito</th>
          <th>Nº T. Documento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
          <td class="align-middle"></td>
        </tr>
        <!--<tr *ngFor="let item of filteredData">
          <td  class="align-middle">{{ item.id }}</td>
          <td  class="align-middle"><img src="{{ item.image }}" alt="Imagen" width="15" height="15"></td>
          <td  class="align-middle">{{ item.description }}</td>
          <td  class="align-middle">{{ item.price }}</td>
          <td  class="align-middle">{{ item.stock }}</td>
          <td  class="align-middle">{{ item.subcategories_id }}</td>
          <td  class="align-middle"><button class="btn btn-success rounded-0">Editar</button></td>
          <td  class="align-middle"><button class="btn btn-danger rounded-0">Eliminar</button></td>
          <td  class="align-middle"></td>
        </tr>-->
      </tbody>
    </table>
  </div>

