<div>
  <h1>Hazte Cliente</h1>
  
  <form (submit)="guardaDatos()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="nombre" required>
    
    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" [(ngModel)]="apellidos" required>
    
    <label for="documentodeidentidad">Documento de Identidad:</label>
    <input type="text" id="documentodeidentidad" [(ngModel)]="documentodeidentidad" required>
    
    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" [(ngModel)]="telefono" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" required>

    <label for="tipoDeDocumento">Tipo de Documento:</label>
    <input type="text" id="tipoDeDocumento" [(ngModel)]="tipoDeDocumento" required>
    
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" [(ngModel)]="usuario" required>
    
    <button type="submit">Guardar</button>
  </form>
</div>