<div class="container mt-3 p-3">
  <h1 class="text-center mb-5">{{ title }}</h1>
    <table class="table table-stripped table-bordered w-100">
      <th> Imagen </th>
      <th> Descripción </th>
      <th> Precio de venta </th>
      <th> Existencias </th>
      <th> Acciones </th>

      <tr *ngFor="let element of elements">
        <td><img [src]="getImageProduct(element.image)" alt="{{ element.description }}"></td>
        <td> {{ element.description }} </td>
        <td> {{ getFormatterEuro(element.price) }} </td>
        <td> {{ element.stock }} </td>

        <td>
          <a href="" (click)="openModal(element._links.self.href.substring(element._links.self.href.lastIndexOf('/')+1), element, 'edit')" data-bs-toggle="modal" data-bs-target="#myModalProduct"><i class="bi bi-pencil-fill"></i></a>
          <a href="" class="wbtn" (click)="eliminar(element._links.self.href.substring(element._links.self.href.lastIndexOf('/')+1))"><i class="bi bi-trash3-fill"></i></a>
        </td>
      </tr>
    </table>


    <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label=""></mat-paginator>-->

    <div class="w-100 text-center">
      <div class="text-primary mb-3" role="alert">{{ message }}</div>
      <button type="button" class="btn btn-primary" (click)="openModal('','', 'add')" data-bs-toggle="modal" data-bs-target="#myModalProduct">Añadir nuevo producto</button>
    </div>

    <app-modal-existing-products #modal (eventoExistingProduct)="refreshData($event)"></app-modal-existing-products>
  </div>
