<div class="container mt-3 p-3">
  <h1 class="text-center mb-5">{{ title }}</h1>
    <table class="table table-stripped table-bordered w-100">
      <th> Imagen </th>
      <th> Descripción </th>
      <th> Precio de venta </th>
      <th> Existencias </th>
      <th> Acciones </th>

      <tr *ngFor="let element of elements">
        <td><img [src]="getImage(element.image)" alt="{{ element.description }}"></td>
        <td> {{ element.description }} </td>
        <td> {{ getFormat(element.price) }} </td>
        <td> {{ element.stock }} </td>

        <td>
          <a class="cursor-pointer" (click)="abrirModal(element._links.self.href.substring(element._links.self.href.lastIndexOf('/')+1), 'edit', element)"><i class="bi bi-pencil-fill"></i></a>
          <a class="cursor-pointer" (click)="eliminar(element._links.self.href.substring(element._links.self.href.lastIndexOf('/')+1))"><i class="bi bi-trash3-fill"></i></a>
        </td>
      </tr>
    </table>

    <!--<app-modal-document-types (eventoAComunicar)="realizarComunicacion($event)" id="{{id}}"></app-modal-document-types>
    <h5 class="text-center">{{mensaje}}</h5>-->
    <!--<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label=""></mat-paginator>-->

    <div class="w-100 text-center">
      <button type="button" class="btn btn-primary" (click)="abrirModal('','add','')" data-bs-toggle="modal">Añadir nuevo producto</button>
    </div>
    <app-modal-existing-products #modal></app-modal-existing-products>
  </div>
