.table-container {
  width: 100%;
  margin-top: 20px;
}

.table-container h2 {
  font-size: 2em;
  color: green;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  border-bottom: 2px solid rgb(44, 44, 44);
  text-align: left;
}

.table-container th {
  font-weight: 600;
}

.table-container tr:nth-child(even) {
  background-color: rgba(250, 255, 251, 0.1);
}

.table-container tr:nth-child(odd) {
  background-color: transparent;
}

.table-container tr:hover {
  background-color: whitesmoke;
}
