@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* Fuente bonita, pero no muy accesible. No se lee fácil. Quizás estaría mejor poner otro tipo de fuente */
.fuente-bonita {
    font-family: 'Roboto', cursive;
}

.fuente-muy-chica {
    font-size: medium;
}

body {
    background-color: #dadada;
}

.avatar {
    width: 4rem;
}
.espacio-en-blanco {
min-height: 100px;
}