.texto-primario{
    color: white;
}
.texto-secundario{
    color:rgb(39, 160, 76);
}
.texto-resaltado{
    color: green;
}
.fondo-primario{
    background:rgb(222, 253, 232);
}
.fondo-secundario{
    background:rgb(39, 160, 76);
}
.fondo-resaltado{
    background: green;
}

/* .texto-primario{
    color: rgb(224, 172, 0);
}
.texto-secundario{
    color:rgb(255, 252, 96);
}
.texto-resaltado{
    color: rgb(255, 255, 255);
}
.fondo-primario{
    background:rgb(0, 0, 0);
}
.fondo-secundario{
    background:rgb(70, 70, 70);
}
.fondo-resaltado{
    background: rgb(187, 187, 187);
} */