h1, h4, h6, p, span, img {
    opacity: 0;
    animation: aparecer ease 1.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
button, h3, a, section {
    opacity: 0;
    animation: aparecer ease 1.2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
h2, h5, li, table, select, svg {
    opacity: 0;
    animation: aparecer ease 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.texto-primario{
    color: white;
}
.texto-secundario{
    color:rgb(39, 160, 76);
}
.texto-resaltado{
    color: green;
}
.fondo-primario{
    background:rgb(222, 253, 232);
}
.fondo-secundario{
    background:rgb(39, 160, 76);
}
.fondo-resaltado{
    background: green;
}

