<!-- <div class="container-fluid justify-content-center id=navbarOptions"
    [style.display]="menuVisible ? 'block' : 'none'">
    <ul class="nav  justify-content-center">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['cuentas-ahorro']" [ngClass]="{ 'router-link-active': isRouteActive('cuentas-ahorro')}">
                <button type="button" class="btn btn-outline-light">Centas de Ahorro</button>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['cuentas-corrientes']" [ngClass]="{ 'router-link-active': isRouteActive('cuentas-corrientes')}">
                <button type="button" class="btn btn-outline-light">Centas Corrientes</button>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['tarjetas-debito']" [ngClass]="{ 'router-link-active': isRouteActive('tarjetas-debito')}">
                <button type="button" class="btn btn-outline-light">Tarjetas de Débito</button>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['tarjetas-credito']" [ngClass]="{ 'router-link-active': isRouteActive('tarjetas-credito')}">
                <button type="button" class="btn btn-outline-light">Tarjetas de Crédito</button>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['prestamos-hipotecarios']" [ngClass]="{ 'router-link-active': isRouteActive('prestamos-hipotecarios')}">
                <button type="button" class="btn btn-outline-light">Préstamos Hipotecarios</button>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['prestamos-personales']" [ngClass]="{ 'router-link-active': isRouteActive('prestamos-personales')}">
                <button type="button" class="btn btn-outline-light">Préstamos Personales</button>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['inversiones']" [ngClass]="{ 'router-link-active': isRouteActive('inversiones')}">
                <button type="button" class="btn btn-outline-light">Inversiones</button>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['segguros']" [ngClass]="{ 'router-link-active': isRouteActive('seguros')}">
                <button type="button" class="btn btn-outline-light">Seguros</button>
            </a>
        </li>
    </ul>
</div> -->